body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply text-white font-bold py-2 px-4 rounded
  }
  .btn-success{
    @apply bg-green-500 hover:bg-green-600;
  }
  .card{
    @apply rounded overflow-hidden shadow-lg bg-white;
  }

  .form-progress {
    position: relative;
    display: block;
    margin: 3rem auto;
    width: 100%;
    max-width: 400px;
  }
  
  progress { 
    @apply relative block top-1 left-1 bg-green-500 w-full h-1 bg-none ;
    -webkit-appearance: none;
    appearance: none;
    transition: 1s;
    will-change: contents;
  }
  progress::-webkit-progress-bar {
      background-color: #ddd;
  }
    
  progress::-webkit-progress-value {
    @apply bg-green-500 ;
    transition: all 0.5s ease-in-out;
  }

  .form-progress-indicator {
    position: absolute;
    top: -5px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid #ddd;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    transition-delay: .3s;
    will-change: transform;
  }
  .form-progress-indicator.one		{ left: 0; }
  .form-progress-indicator.two 	{ left: 33%; }
  .form-progress-indicator.three { left: 66%; }	
  .form-progress-indicator.four 	{ left: 100%; }
  @keyframes bounce {
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .form-progress-indicator.active {
		animation: bounce .5s forwards;
		animation-delay: .5s;
		@apply bg-green-500;
	}


  .fieldgroup {
    @apply my-4 relative px-2;
  }
  .fieldgroup label{
    @apply absolute top-[0.8rem] left-2 block hover:cursor-text;
    transition: 0.5s ease-out;
    will-change: top, font-size;
  }

  .fieldgroup input {
    border: 1px solid #fff;
    font-size: 1.2rem;
    padding: .6rem;
    padding-left: 0;
    background:transparent;
    border: none;
    /* border-bottom: 2px solid #444; */
    transition: 0.5s;
    width: calc(100% - .6rem);
    max-width: 350px;
    border-radius: 0;
   
  } 
  .fieldgroup input:focus {
    outline: none;
  }
  
  .fieldgroup input:valid {
    border-color: #444;
  }
  
  .fieldgroup input:focus + label,
  .fieldgroup input.hasInput + label {
    top: -.8rem;
    font-size: .8rem;
    background-color: white;
    padding: 4px;
  }

  .pakages{
    @apply relative p-2 text-sm m-2 rounded-xl border hover:border-green-300 cursor-pointer font-bold flex justify-center;
  }

  .pakages.selected{
    @apply bg-green-100;
  }
}